@import url("./reset.css");

html {
  font-size: var(--root-font-size);
}

body {
  height: 100vh;
  font-family: 'BlenderPro-Book', sans-serif;
  font-weight: 500;
  font-style: normal;
  overflow: scroll;
  background-size: cover;
  background-position: center;
  background-color: var(--black);
}

@media (prefers-color-scheme: light ){
  body {
    background-color: var(--white);
    color: transparent;
  }
  .header_mobile svg {
    background-color: var(--white);
    color: transparent;
  }
}

@media (prefers-color-scheme: dark ){
  body {

    color: var(--white);
  }
  .header_mobile svg {

    color: var(--white);
  }
}


/* menu déroulant/menu burger */

.header {
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--white);
  white-space: nowrap;
}

/* gestion des section les un en dessous des autres  */

header li a{
  color: var(--white);
  padding: 5rem;
}


/* centrer le menu burger et l'attacher avec le js */
.header_mobile {
  height: 5rem;
  width: 4rem;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.4s;
  transform: initial;
  position: relative;
  z-index: 5;

}

/* Rotation du burger a partir de son centre  */
.header_mobile:hover{
  transform: rotate(-90deg);
}

/* Taille du svg Burger */
.header_mobile svg{
  width: 2rem;
  height: 2rem;
}

/* Paramétrage de l overlay active, sa position, ça limite, ça couleur et ça position  */
.mobile-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display:none;
  z-index: 6;

}

/* determine les limite de la "box" */
.mobile-overlay.active{
  display: block;
}

/* initialisation du display ça taille et ces limites */
.nav-mobile {
  color: transparent;
  height: calc(100vh + 1rem);
  background-color: rgba(128, 125, 125, 0.9);
  padding: 2rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(-105%);
  transition: 0.4s transform cubic-bezier(.43,.73,0,.98);
  overflow: hidden;
  position: fixed;
}

.nav-mobile {
  z-index: 7;
  top: 0;
  left: 0;
  width: 15rem;
}

.nav-mobile.active {
  transform: initial;
}

.top {
  background-color: var(--dark);
  border-radius: 1rem 1rem 1rem 1rem;
}

.Bottom {
  background-color: var(--dark);
  border-radius: 1rem 1rem 1rem 1rem;
}
.nav-mobile__profil {
  text-align: center;
  border-bottom: 0.1rem solid var(--white);
  padding: 1.5rem;
}

.nav-mobile__profil img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;

}

.nav-mobile__profil .name {
  color: var(--white);
  font-size: 1.5rem;
  display: block;
  margin: 0.6rem 0;

}

/** background gris top **/

.nav-mobile__menu{
  padding: 1%;
  list-style: none;
  margin: 2.3rem 5% 1rem;

}

.nav-mobile__menu li {
  margin-bottom: 0.8rem;

}

.nav-mobile__menu li:last-of-type{
  margin-bottom: initial ;
}

.nav-mobile__menu li a {
  color: var(--white);
  text-decoration: none;
  font-size: 0.9rem;
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  position: relative;
}

/* mise en place de la ligne blanche lors du passage de la souris */
.nav-mobile__menu li a::after {
  content: '' ;
  height: 0.2rem;
  width: 0;
  background-color: var(--white);
  position: absolute;
  bottom: -0.6rem;
  right: 0;
  transition: 0.3s width ease-in-out;

}

.nav-mobile__menu li a:hover::after {
  width: 100%;
  left: 0;
}


.nav-mobile__menu li a svg {
  stroke: var(--white);
  width: 2rem;
  height: 1.8rem;
  margin-right: 1rem;
}

.nav-mobile__social {
  padding: 0;
  margin:  0;
  color: initial;
  list-style: none ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-mobile__social li  {
  margin: 0.5rem;
}

.nav-mobile__social li a {
  font-size: 1rem;
  opacity: 0.6;
  text-transform: uppercase;
  transition: 0.3s opacity ease-in-out;
}

/* logo réseau */
.nav-mobile__social li a svg {
  color: white;
  width: 3rem;
  height: 2rem;
  margin-top: 1rem;
}

.nav-mobile__social li a:hover::after {
  opacity: 0.4;
}

.nav-mobile__closed {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark);
  cursor: pointer;
  transition: 0.4s; transform: initial;
  position: absolute;
  z-index: 3;
  top: 2rem;
  left: 1rem;
}

.nav-mobile__closed:hover{
  transform: rotate(90deg);
}

.nav-mobile__closed svg{
  width: 1.5rem;
  height: 1.5rem;
  stroke: var(--white);
}

/* Conteneur intérieur */
.inner_inner__eQegb {
  text-align: center;
  z-index: 2; /* Assure que le texte est au-dessus de la vidéo */
}

/* Titre principal */
.intro_titleContainer__IH7Ew {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  color: var(--white);
  padding: 1rem 0;
  Z-index: 3;

}

.intro_title__8BNqO {
  font-size: 4rem;
  color: #fff;
  display: block;
  overflow: hidden; /* Cache les animations hors limites */
  text-transform: uppercase;
}

/* Chaque lettre animée */
.AnimateText_charsWrapper__AeFZT div {
  display: block;
  position: relative;
  transform: translateY(100%); /* Position de départ pour l'animation */
  opacity: 0; /* Invisible au début */
  animation: slideIn 1s ease-in-out forwards;
}

.AnimateText_charsWrapper__AeFZT div:nth-child(1) {
  animation-delay: 0.1s;
}
.AnimateText_charsWrapper__AeFZT div:nth-child(2) {
  animation-delay: 0.2s;
}
.AnimateText_charsWrapper__AeFZT div:nth-child(3) {
  animation-delay: 0.3s;
}
.AnimateText_charsWrapper__AeFZT div:nth-child(4) {
  width: 1em;
  background: transparent;
}
.AnimateText_charsWrapper__AeFZT div:nth-child(5) {
  animation-delay: 0.4s;
}
.AnimateText_charsWrapper__AeFZT div:nth-child(6) {
  animation-delay: 0.5s;
}
.AnimateText_charsWrapper__AeFZT div:nth-child(7) {
  animation-delay: 0.6s;
}
.AnimateText_charsWrapper__AeFZT div:nth-child(8) {
  animation-delay: 0.7s;
}
.AnimateText_charsWrapper__AeFZT div:nth-child(9) {
  animation-delay: 0.8s;
}
.AnimateText_charsWrapper__AeFZT div:nth-child(10) {
  animation-delay: 0.9s;
}
.AnimateText_charsWrapper__AeFZT div:nth-child(11) {
  animation-delay: 1s;
}
.AnimateText_charsWrapper__AeFZT div:nth-child(12) {
  animation-delay: 1.1s;
}
.AnimateText_charsWrapper__AeFZT div:nth-child(13) {
  animation-delay: 1.2s;
}

/* ... Continuez pour chaque lettre avec des délais progressifs */

/* Animation de glissement */
@keyframes slideIn {
  to {
    transform: translateY(0); /* Position finale */
    opacity: 1; /* Visible à la fin */
  }
}

/* Sous-titre */
.intro_subTitle__yPgDF {
  font-size: 1.5rem;
  color: var(--white);
  margin-top: 1rem;
}

.intro_subTitle__yPgDF h2 {
  position: relative;
  text-align: center;
  margin: 2rem 0;
  color: var(--white);
}

.intro_subTitle__yPgDF h2::before,
.intro_subTitle__yPgDF h2::after {
  content: '';
  display: block;
  height: 0.1rem;
  width: 50%;
  background-color: var(--white);
  position: absolute;
}

.intro_subTitle__yPgDF h2::before {
  top: -1rem;
  left: 25%;
}

.intro_subTitle__yPgDF h2::after {
  bottom: -1rem;
  right: 25%;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: var(--white);
}

.presentation h1 {
  font-size: 2rem;
  font-variant-caps: all-petite-caps;
  color: var(--black);
  margin-bottom: 1rem;
}

.presentation p {
  font-size: 1.2rem;
  color: var(--black);
  text-align: center;
  margin-bottom: 1rem;
}

.Mes_projects {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
  background-color: var(--white);

}

.Newpost_item__12345 {
  background-color: var(--black);
  color: var(--white);
  padding: 2rem;
  border-radius: 0.8rem;
  width: calc(33.33% - 2rem);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.Newpost-item__12345:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 0.8rem 1rem rgba(0,0,0,0.2), 0 0.6rem 0.6rem rgba(0,0,0,0.2);
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--white);
  padding: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  display: none; /* Caché par défaut */
  color: var(--black);
  font-size: 4rem;
  text-align: center;
  width: 75%;
  border-radius: 0.8rem;
}

.popup h2{
  margin: 2rem;
  text-align: left;
}

.btn-lire {
  border: none;
  background: none;
  color: var(--white);
  padding: 1rem 2rem;
  cursor: pointer;
  outline: none;
}

.btn-lire:hover {
  border: none;
  border-radius: 0.2rem;
  background: white;
  color: var(--black);
  padding: 1rem 2rem;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

.close {
  border: none;
  background: none;
  color: var(--black);
  padding: 1rem 2rem;
  cursor: pointer;
  outline: none;
}

.close:hover {
  border: none;
  border-radius: 0.2rem;
  background: black;
  color: var(--white);
  padding: 1rem 2rem;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

.newpost_title__56789 {
  font-size: 1.5rem;
  margin: 0 0 1rem;
}

.newpost_excerpt__abcd {
  font-size: 1rem;
  margin: 0 0 1.5rem;
}

.newpost_link__efgh {
  display: inline-block;
  text-decoration: none;
  color: var(--white);
  background-color: transparent;
  padding: 1rem 1.5rem;
  border-radius: 0.4rem;
  transition: background-color 0.3s ease;
}

.newpost_link__efgh:hover {
  background-color: var(--white);
  color: var(--black);
}
