@import url("./reset.css");

*{
  padding: 0;
  margin: 0;
}

#canvas{
  z-index: -1;
}

header{
  padding: 10px;
  margin: 10px;
  display: block; 
  z-index: 1;
}

header ul li a{
  color: var(--white);
  z-index: 1;
}

